    <% flash.each do |type, msg| %>
    <div class="alert alert-<%= type %>" role="alert"><%= msg %></div>
    <% end %>

<div class="mx-5">
<h2>Log In</h2>

<%=form_for :session, url: sessions_path do |f|%>
    <br>
    <p><%=f.label :email%> <br>
    <%=f.text_field(:email, {:class => "form-control"})%>
    </p>
    <p><%=f.label :password%> <br>
    <%=f.text_field(:password, {:class => "form-control", :type => "password"})%>
    </p>
    <%= f.submit({:value => "Log In", :class => "card-link btn btn-info"}) %>
<%end%>

</div>