
<div class="mx-5">
<h2>Log In</h2>

<%=form_for :session, url: sessions_path do |f|%>
    <br>
    <p><%=f.label :email%> <br>
    <%=f.text_field(:email, {:class => "form-control"})%>
    </p>
    <p><%=f.label :password%> <br>
    <%=f.text_field(:password, {:class => "form-control", :type => "password"})%>
    </p>
    <%= f.submit({:value => "Log In", :class => "card-link btn btn-info"}) %>
    <%= f.submit({:value => "Log in and Remember me", :class => " btn btn-info"})%>
<%end%>

</div>

<div class="m-5">
<p>New here? <%=link_to "Sign up", new_user_path%></p>
</div>