<h1>Update Gossip</h1>

<%=form_for @gossip, url: gossip_path(@gossip), method: :patch do |f|%>
    <%if @gossip.errors.any? %>
        <% @gossip.errors.full_messages.each do |msg| %>
        <div class="alert alert-danger"><%=msg%></div>
    <%end%>
<%end%>
<p>
<%= f.label :user_id%> <br> 
 <%= f.text_field(:user_id, :readonly => "readonly") %>
</p>
<p>
<%= f.label :title%> <br> 
<%= f.text_field(:title, {:class => "form-control"})%>
</p>
<p>
<%= f.label :content%> <br>
<%= f.text_area(:content, {:class => "form-control"})%>
</p>
<p>
Tags <br>
<%@tags.each do |tag|%>
    <%= label_tag tag.id, "#{tag.title}" %>
    <%= check_box_tag 'tags_id[]', tag.id, @tags_ids.include?(tag.id)%>
<%end%>
</p>
<p>
<%= f.submit({:value => "Update", :class => "card-link btn btn-info"}) %>
<%=link_to "Cancel", gossip_path(@gossip), :class => "card-link btn btn-light"%>
</p>
<%end%>


<div class="container m-5 text-center">
<%=link_to "Back to Gossips", gossip_index_path, :class => "card-link btn btn-light" %>
</div>
    
