    <%= form_tag("/search", :method => "get") do %>
    <%= label_tag(:q, "Search for gossips:") %>
    <%= text_field_tag(:search, params[:search]) %>
    <%= submit_tag("Search") %>
    <% end %> <br>
    
    <br>
    <% flash.each do |type, msg| %>
        <div class="alert alert-success"><%= msg %></div>
    <% end %>
    
    <br><p>Si tu as du croustillant à nous partager, tu peux :</p>
    <%=link_to "Create a new gossip", new_gossip_path, :class => "card-link btn btn-info" %><br><br>
    
    <br<p>Tous les potins THP accessibles ! :)</p>
    <div class="flex-container">
            <% @gossips.each_with_index.map do |gossip, index| %>
                <div class="card m-4 card-container">
                    <div class="card-header">
                        <%=link_to "Gossip n°#{index + 1}", gossip_path(gossip) %><%="  from #{User.find(gossip.user_id).first_name}"%>
                    </div>
                        <%=gossip.title%></p><br>
                    
                    <div class="card-bottom">
                        <%TagGossip.find_tags_id(gossip.id).each do |tag_id|%>
                        <span class="badge badge-pill m-2" style="background-color: <%=Tag.find(tag_id).color%>;"><%=Tag.find(tag_id).title%></span>
                        <%end%></h5>
                    </div>
                </div>
            <% end %>  
    </div>
