
<h1>Create Gossip</h1>

<%=form_for :gossip, url: gossip_index_path do |f|%>
    <%if @gossip.errors.any? %>
        <% @gossip.errors.full_messages.each do |msg| %>
        <div class="alert alert-danger"><%=msg%></div>
        <%end%>
    <%end%>
<p>
<%= f.label :user_id%> <br> 
 <%= f.text_field(:user_id, {:value => current_user.id, :readonly => "readonly"}) %>
</p>
<p>
<%= f.label :title%> <br> 
<%= f.text_field(:title, {:class => "form-control"})%>
</p>
<p>
<%= f.label :content%> <br>
<%= f.text_area(:content, {:class => "form-control"})%>
</p>
<p>
Tags <br>
<%@tags.each do |tag|%>
<%= label_tag tag.id, "#{tag.title}" %>
<%= check_box_tag 'tags_id[]', tag.id%>
<%end%>
</p>
<p>
<%= f.submit({:class => "card-link btn btn-light"}) %>
</p>
<%end%>

  <%# 
  Parameters: {"utf8"=>"✓", 
  "authenticity_token"=>"Liog4z6qdykScxM3zjfcm1q0i+U73PFj19XfPx7PfpDE7Ww7FaKX1hYPomBoVu8bL6VMNRjSo81TpYyVpbRc+g==", 
  "gossip"=>{"user_id"=>"1", "title"=>"sfgsfhsfth", "content"=>"hdgdfhd"}, 
  "tagsgossip"=>{"tag"=>["{:name=>\"tag.title\", :checked=>false, :id=>5}", "{:name=>\"tag.title\", :checked=>false, :id=>6}"]}, "commit"=>"Save Gossip"}

  
  
  Parameters: {"utf8"=>"✓", 
  "authenticity_token"=>"bO+OeYwJKnGFQ1z6z8a1hIspv00madT35eqjlKsxQ4iGKMKhpwHKjoE/7a1pp4YE/jh4nQVnhllhmvA+EEph4g==", 
  "gossip"=>{"user_id"=>"1", "title"=>"qdrgqdr", "content"=>"fgdgs"}, 
  "tagsgossip"=>{"tag"=>["{:name=>\"uneasiness\", :checked=>false, :id=>\"tag_uneasiness\"}", "{:name=>\"apprehension\", :checked=>false, :id=>\"tag_apprehension\"}"]}, 
  "commit"=>"Save Gossip"}

  Parameters: {"utf8"=>"✓", 
  "authenticity_token"=>"tWS72+Gg28r0MeTbTwRib/n+lseXx2hSgG+icL4/dDVfo/cDyqg7NfBNVYzpZVHvjO9RF7TJOvwEH/HaBURWXw==", 
  "gossip"=>{"user_id"=>"2", "title"=>"def", "content"=>"shfh"}, 
  "tagsgossip"=>{"tag"=>["{:name=>\"enthrallment\", :checked=>false, :id=>\"tag_enthrallment\"}", "{:name=>\"anxiety\", :checked=>false, :id=>\"tag_anxiety\"}", "{:name=>\"enthrallment\", :checked=>false, :id=>\"tag_enthrallment\"}"]}, "commit"=>"Save Gossip"}
 %>
