
<div class="containergit  text-center">
<%=link_to "Back to Gossips", gossip_index_path, :class => "card-link btn btn-light" %>
</div>

<div class="container-fluid px-5">
  <% flash.each do |type, msg| %>
    <div class="alert alert-success mt-5" role="alert"><%= msg %></div>
  <% end %>
</div>

<div class="card m-5">
    <div class="card-header d-flex space-around text-center ">The author:  &nbsp;  <%=link_to @user.first_name, user_path(@user), :class => "me-5"%>
    From: &nbsp; <%=link_to @city.name, city_path(@city), :class => "me-5"%> 
    </div>
    <div class="card-body">
        <h3 class="card-title"><%=@gossip.title%></h3>
          <%@tags.each do |tag|%>
            <span class="badge badge-pill" style="background-color: <%=tag.color%>;"><%=tag.title%></span>
          <%end%>
        <br><p class="card-text mt-3"><%=@gossip.content%></p>
              <div class="text-center">
            <%if log_in(@gossip.user)%>
              <%=link_to "Edit", edit_gossip_path(@gossip), :class => "btn btn-info mb-3 text-center ml-5"%>
              <%=link_to "Delete", @gossip, :method => :delete, data: { confirm: 'Are you sure?' } , :class => "btn btn-outline-danger mb-3 text-center" %>
             <%end%> 
          <%if logged_in?%>
            <%if@gossip.is_liked?(current_user)%>
                <%=button_to gossip_like_path(@gossip.id, @gossip.get_like(current_user).id), method: :delete, :class => "btn btn-primary liked" do %>
                  <span><i class="bi bi-heart-fill"></i></span> <% end %>
            <%else%>
                <%=button_to gossip_likes_path(@gossip.id), :class => "btn btn-outline-primary disliked" do %>
                  <span><i class="bi bi-heart-fill"></i></span> <%end%>
            <%end%>
          <%end%>
          <span><%=@gossip.count_likes%> Likes</span>
              
              </div>
        <div class="m-4">
          <h4>Comments</h4>
          <ul class="list-group">
            <% @comments.each do |comment| %>
              <li class="list-group-item">
              <tr>
              <td><strong><%= User.find(comment.user_id).full_name%> :</strong></td>
              <td><%= comment.content %></td> 
              <%=link_to "Edit", edit_gossip_comment_path(@gossip, comment), :class => "link-comment badge badge-info mb-3 text-center"%>
              <br>
              </tr>
              </li>
            <% end %>
          
          </ul>
        </div>
          <div class="m-4">
            <h5>Add a Comment</h5>
            <%=form_for @comment, url:gossip_comments_path(@gossip, @comment) do |f|%>
                <%if @comment.errors.any? %>
                    <% @comment.errors.full_messages.each do |msg| %>
                        <div class="alert alert-danger"><%=msg%></div>
                    <%end%>
                <%end%>
                <p>
                <%= f.label :user_id%> <br> 
                <%= f.text_field(:user_id, {:value => current_user.id, :readonly => "readonly"}) %>
                </p>
                <p><%= f.label :content%> <br>
                <%= f.text_area(:content, {:class => "form-control"})%>
                </p>
                <p><%= f.submit({:class => "card-link btn btn-info"}) %>
                </p>
              <%end%>
            </div>
  
          <div class="card-footer bg-transparent border-success text-center">
        posted: <%=@gossip.created_at%>
        </div>
  </div>
</div>
<div class="container m-5 text-center">
<%=link_to "Back to Gossips", gossip_index_path, :class => "card-link btn btn-light" %>
</div>
    
