
<div class="containergit  text-center">
<%=link_to "Back to Gossips", gossip_index_path, :class => "card-link btn btn-light" %>
</div>

<div class="container-fluid px-5">
  <% flash.each do |type, msg| %>
    <div class="alert alert-success mt-5" role="alert"><%= msg %></div>
  <% end %>
</div>

<div class="card m-5">
    <div class="card-header text-center ">The author:   <%=link_to @user.first_name, user_path(@user), :class => "me-5"%>
    From:  <%=link_to @city.name, city_path(@city), :class => "me-5"%> 
    <%if@gossip.is_liked?(current_user)%>
    <%=link_to fa_icon("bi-heart-fill"),likes_destroy_path(@gossip, @like), :methode => "delete", :class => "bi bi-heart-fill btn btn-primary"%>
    <%else%>
    <%=link_to fa_icon("bi-heart-fill"),likes_create_path, :class => "bi bi-heart-fill btn btn-outline-primary disliked"%>
    <%end%>
    <span><%=@gossip.count_likes%> Likes</span>
    </div>
    <div class="card-body">
        <h3 class="card-title"><%=@gossip.title%></h3>
          <%@tags.each do |tag|%>
            <span class="badge badge-pill" style="background-color: <%=tag.color%>;"><%=tag.title%></span>
          <%end%>
        <br><p class="card-text mt-3"><%=@gossip.content%></p>
        <%if logged_in?%>
              <div class="text-center">
              <%=link_to "Edit", edit_gossip_path(@gossip), :class => "btn btn-info mb-3 text-center ml-5"%>
              <%=link_to "Delete", @gossip, :method => :delete, data: { confirm: 'Are you sure?' } , :class => "btn btn-outline-danger mb-3 text-center" %>
              </div>
        <div class="m-4">
          <h4>Comments</h4>
          <ul class="list-group">
            <% @comments.each do |comment| %>
            <li class="list-group-item">
            <tr>
            <td><strong><%= User.find(comment.user_id).full_name%> :</strong></td>
            <td><%= comment.content %></td> 
              <%=link_to "Edit", edit_gossip_comment_path(@gossip, comment), :class => "link-comment badge badge-info mb-3 text-center"%>
              <br>
            </tr>
            </li>
            <% end %>
          
          </ul>
        </div>
          <div class="m-4">
            <h5>Add a Comment</h5>
            <%=form_for @comment, url:gossip_comments_path(@gossip, @comment) do |f|%>
                <%if @comment.errors.any? %>
                    <% @comment.errors.full_messages.each do |msg| %>
                        <div class="alert alert-danger"><%=msg%></div>
                    <%end%>
                <%end%>
                <p>
                <%= f.label :user_id%> <br> 
                <%= f.text_field(:user_id, {:value => current_user.id, :readonly => "readonly"}) %>
                </p>
                <p><%= f.label :content%> <br>
                <%= f.text_area(:content, {:class => "form-control"})%>
                </p>
                <p><%= f.submit({:class => "card-link btn btn-info"}) %>
                </p>
                <%end%>
            </div>
      <%end%>
          <div class="card-footer bg-transparent border-success text-center">
        posted: <%=@gossip.created_at%>
        </div>
  </div>
</div>
<div class="container m-5 text-center">
<%=link_to "Back to Gossips", gossip_index_path, :class => "card-link btn btn-light" %>
</div>
    
