
     

<div class="card m-5">
    <div class="card-header text-center"><%=link_to (@user.first_name), user_path(@user)%></div>
    <div class="card-body">
        <h5 class="card-title">S<%=@gossip.title%></h5>
        <p class="card-text"><%=@gossip.content%></p>
        <div class="text-center">
        <%=link_to "Comment", user_path(@user), :class => "btn btn-primary mb-3 text-center"%><br>
        </div>
        <div class="card-footer bg-transparent border-success text-center">
        posted: <%=@gossip.created_at%>
        </div>
  </div>
</div>
<div class="container m-5 text-center">
<%=link_to "Back to Gossips", gossip_index_path, :class => "card-link btn btn-light" %>
</div>
    
