<div class="m-5">

<h2>Sign up</h2>

<%=form_for :user, url: user_index_path do |f|%>
    <%if @user.errors.any? %>
        <% @user.errors.full_messages.each do |msg| %>
        <div class="alert alert-danger"><%=msg%></div>
        <%end%>
    <%end%><br>

<%# <p><%= f.label :city_id%>
<%# <%= f.select(:city_id, options_for_select(@cities, :selected => params[:city_id])) %>

<%# <%= f.select :, options_for_select([["Select One", ""], "Cell", "Work", "Office", "Home", "Other"]), :class => 'genForm_dropBox' %> 

<p><%= f.label :city_id%> 
<%= f.text_field(:city_id, {:class => "form-control"})%></p>

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Don't know your city id?
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Cities available</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
      <%@cities.each do |city|%>
        <tr>
            <td><%=city[1]%></td>
            <td><%=city[0]%></td><br><br>
        </tr>
        <%end%>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<br>
<br>

<p><%= f.label :first_name%> <br> 
<%= f.text_field(:first_name, {:class => "form-control"})%>
<%= f.label :last_name%> <br> 
<%= f.text_field(:last_name, {:class => "form-control"})%></p>
<p><%= f.label :email%> <br> 
<%= f.text_field(:email, {:class => "form-control"})%>
<%= f.label :password%> <br>
<%= f.text_field(:password, {:class => "form-control", :type => "password"})%>
<%= f.label :password_confirmation%><br>
<%= f.text_field(:password_confirmation, {:class => "form-control", :type => "password"})%></p>
<p><%= f.label :age%> <br> 
<%= f.text_field(:age, {:class => "form-control"})%></p>
<p><%= f.label :description%> <br> 
<%= f.text_area(:description, {:rows => 8, :cols => 40, :class => "form-control"})%></p>
<br>

<%= f.submit 'Sign up', :class => 'card-link btn btn-info' %>
<%= f.submit 'Sign up and Remember me', :class => 'card-link btn btn-info' %>

<% end %>
<br>



</div>