<div class="background">


<h3><%=@city.name%></h3>
<p> Gossips :</p>

<div class="flex-container">
            <% @gossips.each_with_index.map do |gossip, index| %>
                <div class="card m-4 card-container">
                    <div class="card-header">
                        <div class="row ">
                            <div class="col-md-11">
                            <%=link_to "Gossip n°#{index + 1}", gossip_path(gossip) %>&nbsp;&nbsp;<%="from :"%>&nbsp;&nbsp;<%="#{User.find(gossip.user_id).first_name}"%>
                            </div>
                            <div class="col-md-3>
                            <%if logged_in?%>
                                <%if gossip.is_liked?(current_user)%>
                                <%=button_to gossip_like_path(gossip.id, gossip.get_like(current_user).id), method: :delete, :class => "btn btn-primary liked" do %>
                                    <span><i class="bi bi-heart-fill"></i></span> <% end %>
                            <%else%>
                                        <%=button_to gossip_likes_path(gossip.id), :class => "btn btn-outline-primary disliked" do %>
                                        <span><i class="bi bi-heart"></i></span> <%end%>
                                <%end%>
                            
                            <%end%>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <p><%=gossip.title%></p>
                    </div>
                    <div class="card-bottom text-center align-content pb-2">
                        <%TagGossip.find_tags_id(gossip.id).each do |tag_id|%>
                        <span class="badge badge-pill m-2" style="background-color: <%=Tag.find(tag_id).color%>;"><%=Tag.find(tag_id).title%></span>
                        <%end%></h5>
                    </div>
                </div>
            <% end %>  
    </div>

</div>