<div class="background">


<h3><%=@city.name%></h3>
<p> Gossips :</p>

<div class="flex-container">
            <% @gossips.each_with_index.map do |gossip, index| %>
                <div class="card m-4 card-container">
                    <div class="card-header">
                        <%=link_to "Gossip n°#{index + 1}", gossip_path(gossip) %><%="  from #{User.find(gossip.user_id).first_name}"%>
                    </div>
                        <%=gossip.title%></p><br>
                    
                    <div class="card-bottom">
                        <%TagGossip.find_tags_id(gossip.id).each do |tag_id|%>
                        <span class="badge badge-pill m-2" style="background-color: <%=Tag.find(tag_id).color%>;"><%=Tag.find(tag_id).title%></span>
                        <%end%></h5>
                    </div>
                </div>
            <% end %>  
    </div>

</div>